@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap');

main {
    height: 67vh;
    grid-column: 2;
    display: grid;
    grid-template-rows: .1fr 1fr;
    grid-template-columns: 1fr .03fr;
    /*background-image: linear-gradient(#191D19, #434343,#191D19);*/
    background-color: #191D19;
}

main h1 {
    color: white;
    justify-self: center;
    font-family: 'Nothing You Could Do', cursive;


}

.content_container {
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
    justify-self: left;
    row-gap: 5%;
    padding: 8px 0 0 0;
    grid-row: 2;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content_wrapper {
    height: 100%;
    padding: 0 0 10px 0;
}

.content {
    display: grid;
    max-width: 300px;
    height: 100%;
    grid-template-rows: .5fr .1fr 1fr .1fr;
    row-gap: 20px;
    background-color: white;
    border-radius: 5%;
    font-family: 'Josefin Sans', sans-serif;
}

.content_image {
    width: 90%;
    max-width: 250px;
    height: 150px;
    grid-row: 1;
    margin-top: -5px;
    justify-self: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.content_image img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}

.content_title {
    text-align: center;
    grid-row: 2;
    color: black;
    padding: 5px 0 0 0;
}

.content_description {
    height: 100%;
    width: 100%;
    color: black;
    text-align: center;
    grid-row: 3;
    padding: 5px 0 0 0;
}

.content_footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-row: 4;
    padding: 0 0 10px 0;
}

.content_date {
    align-self: center;
}

.content_btn_container {
    grid-column: 1;
    justify-self: center;
    cursor: pointer;
}
.content_btn {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    padding: 3px 2px 2px 2px;
}

.content_btn:hover {
    background: #f1f1f1;
    border-color: #f1f1f1 !important;
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
}

.content_date {
    grid-column: 3;
    justify-self: center;
}

.scroll_box {
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
    align-self: center;
}

.scroll_box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    animation: scroll 2s infinite;
}

.scroll_box span:nth-child(2) {
    animation-delay: -0.2s;
}

.scroll_box span:nth-child(3) {
    animation-delay: -0.2s;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
    .content_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 700px) {
    .content_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 961px) {
    .content_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1280px) {
    .content_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Making sure the content area scroll bar is hidden */
.content_container::-webkit-scrollbar { width: 0 !important }
.content_container { overflow: -moz-scrollbars-none; }
.content_container { -ms-overflow-style: none; }
.content_container { scrollbar-width:none; }

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-2vh, -2vh);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(2vh, 2vh);
    }
}