@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap');


/* Scroll icon positioning */

#projects_scroll {
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
    align-self: center;

    -webkit-align-self: center;
}

/* OVERLOAD MODAL SCROLL ICON */
#modal_scroll_wrap {
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    /*background-color: rgba(25, 29, 25, 0.1);*/

    /*border-bottom-left-radius: 100%;*/
    /*border-bottom-right-radius: 100%;*/
}

#modal_icon_arrows span,
#modal_icon_arrows::after,
#modal_icon_arrows::before {
    border-right: 1px solid rgba(0, 0, 0, .8);
    border-bottom: 1px solid rgba(0, 0, 0, .8);
}

#modal_icon_scroll #modal_mouse {
    border: 1px solid rgba(0,0,0,.8);
}

#modal_icon_scroll #modal_wheel {
    background: rgba(0,0,0,.8);
}

/* Main CSS */


main {
    height: 67vh;
    display: grid;
    grid-row: 2;
    grid-template-rows: .1fr 1fr;
    grid-template-columns: 1fr .03fr;
    background-color: #191D19;
}

main h1 {
    color: white;
    justify-self: center;
    font-family: 'Nothing You Could Do', cursive;


}

.content_container {
    display: grid;
    width: 100%;
    min-height: 100%;
    justify-items: center;
    justify-self: left;
    row-gap: 5%;
    padding: 8px 0 8px 0;
    grid-row: 2;
    overflow-x: hidden;
    overflow-y: auto;
}

.content_wrapper {
    height: 100%;
    padding: 0 0 10px 0;
}

.content {
    display: grid;
    max-width: 300px;
    height: 100%;
    grid-template-rows: .5fr .1fr 1fr .1fr;
    row-gap: 20px;
    background-color: white;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 19px 38px rgba(255,255,255,0.25), 0 15px 12px rgba(255,255,255,0.17);

    -webkit-box-shadow: 0 19px 38px rgba(255,255,255,0.25), 0 15px 12px rgba(255,255,255,0.17);
    -moz-box-shadow: 0 19px 38px rgba(255,255,255,0.25), 0 15px 12px rgba(255,255,255,0.17);
    -o-box-shadow: 0 19px 38px rgba(255,255,255,0.25), 0 15px 12px rgba(255,255,255,0.17);

    -webkit-border-bottom-right-radius: 2%;
    -webkit-border-bottom-left-radius: 2%;
    -moz-border-radius-bottomright: 2%;
    -moz-border-radius-bottomleft: 2%;
}

.content_image {
    width: 100%;
    max-width: 300px;
    height: 150px;
    grid-row: 1;
    justify-self: center;
}

.content_image img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.content_title {
    text-align: center;
    grid-row: 2;
    color: black;
    padding: 5px 0 0 0;
}

.content_description {
    height: 100%;
    width: 100%;
    color: black;
    text-align: center;
    grid-row: 3;
    padding: 5px 0 0 0;
}

.content_footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-row: 4;
    padding: 0 0 10px 0;
}

.content_date {
    align-self: center;
}

.content_btn_container {
    grid-column: 1;
    justify-self: center;
    cursor: pointer;
}
.content_btn {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    padding: 3px 2px 2px 2px;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.content_btn:hover {
    background: #f1f1f1;
    border-color: #f1f1f1 !important;
    transform: scale(1.1);
    transition: all 0.4s ease 0s;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.content_date {
    grid-column: 3;
    justify-self: center;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
    .content_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 700px) {
    .content_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 961px) {
    .content_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1280px) {
    .content_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Making sure the content area scroll bar is hidden */
.content_container::-webkit-scrollbar { width: 0 !important }
.content_container { overflow: -moz-scrollbars-none; }
.content_container { -ms-overflow-style: none; }
.content_container { scrollbar-width:none; }

/* MODAL WINDOW CSS */

.modal {
    z-index: 4;
    position: absolute;
    background-color: white;
    margin-top: 100vh;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.modal_top {
    display: grid;
    width: 100%;
    height: 10vh;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr auto;
}

.modal_header {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 56px;
    /*background-color: rgba(25, 29, 25, 0.1);*/
}

.modal_title_wrap {
    grid-column: 1;
    justify-self: center;
    align-self: start;
    margin-left: 56px;
}

.bracket {
    color: black;
    font-size: 2vw;
}

.modal_title {
    font-size: 2vw;
    color: black;
    font-family: 'Nothing You Could Do', cursive;
}

.close {
    font-size: 48px;
    color: black;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    grid-column: 2;
    justify-self: right;
    align-self: start;
}

.project_info {
    grid-column: 1;
    grid-row: 1/3;
}

/* Content */
.modal_content {
    height: 90vh;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 12vh;
}

.modal_content p {
    font-size: 20px;
    color: black;
}

.modal_content_odd, .modal_content_even {
    max-height: 45vh;
    display: grid;
    margin-top: 5vh;
}

.modal_content_title {
    grid-column: 2/ span 3;
    grid-row: 1;
    color: black;
    justify-self: center;
    text-decoration: underline;
}

.modal_content_odd {
    grid-template-columns: 5px 0.5fr 1fr 5px;
    grid-template-rows: 0.2fr 1fr;
}

.modal_content_even {
    grid-template-columns: 5px 1fr 0.5fr 5px;
    grid-template-rows: 0.2fr 1fr;
}

.image_even_container, .image_odd_container {
    border: black 1px solid;
}

.image_odd_container {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;

    -webkit-box-shadow: -2px 2px 10px black;
    -moz-box-shadow: -2px 2px 10px black;
    -o-box-shadow: -2px 2px 10px black;
    box-shadow: -2px 2px 10px black;
}

.image_even_container {
    grid-column: 3;
    grid-row: 2;
    height: 100%;
    width: 100%;

    -webkit-box-shadow: 2px 2px 10px black;
    -moz-box-shadow: 2px 2px 10px black;
    -o-box-shadow: 2px 2px 10px black;
    box-shadow: 2px 2px 10px black;
}

.image_odd_container img, .image_even_container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.text_odd_container {
    padding: 0 10px 0 10px;
    grid-column: 3;
    grid-row: 2;
    background-color: rgba(25, 29, 25, 0.1);
}

.text_even_container {
    padding: 0 10px 0 10px;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(25, 29, 25, 0.1);
}

.divider
{
    position: relative;
    margin-top: 90px;
    height: 1px;
}

.div-transparent:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
    content: "";
    position: absolute;
    z-index: 1;
    top: -9px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid rgb(48,49,51);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white,
    0 0 0 4px white;
}

/* Making sure the content area scroll bar is hidden */
.modal::-webkit-scrollbar { width: 0 !important }
.modal { overflow: -moz-scrollbars-none; }
.modal { -ms-overflow-style: none; }
.modal { scrollbar-width:none; }