.modal {
    z-index: 4;
    position: absolute;
    background-color: black;
    margin-top: 100vh;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.modal_header {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 56px;
}

.modal_title_wrap {
    grid-column: 1;
    justify-self: center;
    align-self: start;
    margin-left: 56px;
}

.bracket {
    color: white;
    font-size: 44px;
}

.modal_title {
    color: white;
    font-family: 'Nothing You Could Do', cursive;
}

.close {
    font-size: 48px;
    color: white;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    grid-column: 2;
    justify-self: right;
    align-self: start;
}

/* Content */
.modal_content {
    height: 90vh;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.modal_content p {
    font-size: 20px;
    color: white;
}

.modal_content_odd, .modal_content_even {
    max-height: 45vh;
    display: grid;
    margin-top: 5vh;
}

.modal_content_title {
    grid-column: 2/ span 3;
    grid-row: 1;
    color: white;
    justify-self: center;
    text-decoration: underline;
}

.modal_content_odd {
    grid-template-columns: 5px 0.5fr 1fr 5px;
    grid-template-rows: 0.2fr 1fr;
}

.modal_content_even {
    grid-template-columns: 5px 1fr 0.5fr 5px;
    grid-template-rows: 0.2fr 1fr;
}

.image_even_container, .image_odd_container {
    border: white 2px inset;
}

.image_odd_container {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;
    box-shadow: -2px 2px 10px white;
    padding-left: 2px;
}

.image_even_container {
    grid-column: 3;
    grid-row: 2;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 10px white;
    padding-right: 2px;
}

.image_odd_container img, .image_even_container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.text_odd_container {
    padding: 0 10px 0 10px;
    grid-column: 3;
    grid-row: 2;
}

.text_even_container {
    padding: 0 10px 0 10px;
    grid-column: 2;
    grid-row: 2;
}

/* Scroll indicator */

.modal_scroll_wrap {
    width: 100%;
    height: 3.125em;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}
.icon-scroll {
    width: 1em;
    height: 3.125em;
    z-index: 99999;
    transform: scale(1);
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.icon-arrows {
    width: 1em;
}
.icon-arrows::after,
.icon-arrows::before {
    content: '';
}
.icon-arrows span,
.icon-arrows::after,
.icon-arrows::before {
    display: block;
    width: 0.315em;
    height: 0.315em;
    border-right: 1px solid rgba(255,255,255,.8);
    border-bottom: 1px solid rgba(255,255,255,.8);
    margin: 0 0 0.125em 0.315em;
    transform: rotate(45deg);
    animation: mouse-scroll 1s infinite;
    animation-direction: alternate;
}

.icon-arrows::before {
    margin-top: 0.315em;
    animation-delay: .1s;
}

.icon-scroll span {
    animation-delay: .2s;
}

.icon-arrows::after {
    animation-delay: .3s;
}

.icon-scroll .mouse {
    height: 1.375em;
    width: .875em;
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 2em;
}

.icon-scroll .wheel {
    position: relative;
    display: block;
    height: 0.1875em;
    width: 0.1875em;
    margin: 0.1875em auto 0;
    background: rgba(255,255,255,.8);
    animation: mouse-wheel 1.2s ease infinite;
    border-radius: 50%;
}

@keyframes mouse-wheel {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(.375em);
    }
}

@keyframes mouse-scroll {
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

/* Making sure the content area scroll bar is hidden */
.modal::-webkit-scrollbar { width: 0 !important }
.modal { overflow: -moz-scrollbars-none; }
.modal { -ms-overflow-style: none; }
.modal { scrollbar-width:none; }