#burger_wrap {
    min-height: 5vh;
    min-width: 5vh;
    justify-self: right;
    padding: 1.2vh 0.5vh 0 0;
    cursor: pointer;
}

/* ====== CSS FOR BLOG SEARCH BAR ====== */

.blog_search_container {
    display: table;
    height: 100%;
    padding-left: 10px;
}
.blog_search_container .blog_search {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/*** STYLES ***/
.search {
    display: inline-block;
    position: relative;
    height: 2vh;
    width: 2vh;
    margin: 0 0.7vh 0.7vh 0;
    padding: 0.7vh 0.9vh 0 0.9vh;
    border: 0.3vh solid #ffffff;
    cursor: text;

    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/* handle */
.search:after {
    content: "";
    position: absolute;
    width: 0.3vh;
    height: 1.5vh;
    right: -0.5vh;
    top: 1vh;
    background: #ffffff;

    -webkit-border-radius: 0.3vh;
    -moz-border-radius: 0.3vh;
    border-radius: 0.3vh;

    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* expanded */
.search.active,
.search:hover {
    width: 20vh;
    height: 3vh;
    margin-right: 0;
    padding-top: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.search.active:after,
.search:hover:after {
    height: 0;
}
.search input {
    width: 100%;
    border: none;
    font-size: 12px;
    font-family: 'Vollkorn', serif;
    color: #ffffff;
    background: transparent;
    outline-width: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#menu ul li a {
    text-decoration: none;
    color: white;

    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#menu ul li a:hover {
    background-color: #ffffff;
    color: black;
    padding: 1vh 2.3vh;
}

.burger_line {
    width: 100%;
    min-height: 0.4vh;
    background-color: black;
    margin-top: 0.3vh;

    -webkit-border-radius: 4vh;
    -moz-border-radius: 4vh;
    border-radius: 4vh;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:699px) {
    nav {
        width: 5vh;
        height: 5vh;
        position: relative;
        z-index: 4;
    }

    #menu {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-rows: 30vh 70vh;
        background-color: black;
        margin-left: 100%;
        position: absolute;
        z-index: 3;

        -webkit-justify-content: center;
        justify-content: center;
    }

    .blog_search_container {
        grid-row: 1;
        height: 3vh;

        -webkit-align-self: center;
        align-self: center;
    }

    #menu ul {
        grid-row: 2;
        list-style: none;
        align-self: start;
    }

    #menu ul li {
        font-size: 24px;
        padding: 1vh 0 1vh 0;
        color: white;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 700px) {
    nav {
        width: 100%;
        height: 5vh;
        grid-column: 2;
        justify-self: right;
        z-index: 0;
        pointer-events: none;
        display: none;
    }

    #burger_wrap {
        display: none;
    }

    #menu {
        height: 5vh;
        width: 100%;
        background-color: #191D19;
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-rows: 1fr;
        justify-content: normal;
        color: white;
        margin-left: 0;
    }

    .blog_search_container {
        justify-self: start;
        grid-row: 1;
    }

    #menu ul {
        grid-row: 1;
        justify-self: end;
        list-style: none;

        -webkit-align-self: center;
        align-self: center;
    }

    #menu ul li {
        display: inline-block;
        font-size: 20px;
        padding-right: 2vh;
        opacity: 100;
    }

    #menu li + li:before{
        content: " | ";
        padding: 0 1vh;
    }
}

